* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header, .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.header-item {
  padding: 20px;
}

.header-title {
  font-size: 25px;
}

.header-link {
  font-size: 17px;
  color: grey;
}

.main {
  background-image: url(./images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
}

.box-title {
  font-size: 45px;
  width: 60%;
}

.box-text {
  font-size: 25px;
  width: 60%;
  color: darkslategrey;
}

.list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-item {
  padding: 12px;
}

.box-btn {
  width: 150px;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid orange;
  background-color: orange;
  color: white;
}

.btn-box {
  background-color: white;
  border: 2px solid darkturquoise;
  color: darkturquoise;
}

.segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.segment-list {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 40px;
  width: 400px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: SegmentAnimation;
          animation-name: SegmentAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

.segment-item {
  padding: 5px;
  padding-left: 40px;
  padding-top: 10px;
}

.segment-img {
  padding-top: 30px;
}

.segment-text {
  width: 80%;
  padding-bottom: 20px;
}

.list-segment {
  background-color: lightsteelblue;
  width: 400px;
}

.header-link:hover {
  color: black;
  text-decoration: underline;
}

.box-title:hover {
  color: darkcyan;
}

.box-text:hover {
  color: darkmagenta;
}

.box-btn:hover {
  background-color: darkorchid;
  border-radius: 3px solid darkorchid;
  color: whitesmoke;
}

.btn-box:hover {
  background-color: black;
}

.segment-list:hover {
  background-color: lightcyan;
}

.segment-title:hover {
  -webkit-text-decoration: underline solid darkblue;
          text-decoration: underline solid darkblue;
  color: darkcyan;
}

.segment-text:hover {
  color: darkred;
}

.list-segment:hover {
  background-color: wheat;
}

@-webkit-keyframes SegmentAnimation {
  to {
    -webkit-transform: scale(1.2, 1.2) rotate(1440deg);
            transform: scale(1.2, 1.2) rotate(1440deg);
  }
}

@keyframes SegmentAnimation {
  to {
    -webkit-transform: scale(1.2, 1.2) rotate(1440deg);
            transform: scale(1.2, 1.2) rotate(1440deg);
  }
}

.char-flex {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.char-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.char-right {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.char-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.char-title {
  font-size: 35px;
  color: #252B42;
  padding-bottom: 15px;
  letter-spacing: 2px;
}

.char-text {
  font-size: 25px;
  width: 80%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkslategrey;
  word-spacing: 2px;
}

.char-list {
  margin: 20px;
  padding: 10px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Charlist;
          animation-name: Charlist;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.char-img {
  padding: 10px;
}

.char-number {
  font-size: 25px;
  color: #252B42;
  padding-bottom: 5px;
}

.char-subtitle {
  font-size: 15px;
  color: darkslategrey;
}

.char {
  background-color: whitesmoke;
}

.char-list:hover {
  border: 2px solid darkred;
}

@-webkit-keyframes Charlist {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes Charlist {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.title {
  font-size: 25px;
  color: black;
}

.text {
  font-size: 20px;
}

.list {
  background-color: whitesmoke;
}

.item {
  padding: 10px;
}

.div {
  background-color: white;
}

.mainn {
  background-color: lightgray;
}

.mainn-flex {
  margin-top: 40px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainn-top {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-title {
  font-size: 45px;
  color: darkslategrey;
  width: 80%;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 200px;
}

.top-text {
  font-size: 20px;
  width: 80%;
  padding-left: 200px;
  color: grey;
}

.main-center {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.left-img {
  width: 600px;
  height: 400px;
}

.main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-list {
  padding-left: 200px;
}

.right-title {
  font-size: 45px;
  width: 100%;
  color: darkslategrey;
  padding-bottom: 10px;
}

.right-text {
  font-size: 20px;
  color: grey;
  width: 110%;
  line-height: 25px;
  padding-bottom: 30px;
}

.right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Charlist;
          animation-name: Charlist;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.right-box-img {
  padding-bottom: 20px;
  padding-right: 10px;
}

.right-box-text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: darkslategray;
  font-size: 20px;
}

.right-box-subtext {
  font-size: 15px;
}

.main-leg-list {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-leg-item {
  padding: 30px;
}

.main-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkcyan;
}

.main-footer-item {
  padding: 10px;
  padding-left: 90px;
  padding-right: 150px;
}

.main-footer-title {
  font-size: 25px;
  width: 70%;
}

.main-footer-email {
  width: 200px;
  height: 30px;
  border-radius: 2px solid white;
  border-radius: 5px;
  border: none;
}

.main-footer-btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: orange;
  color: white;
}

.table {
  background-color: lightskyblue;
}

.table-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-header {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-header-title {
  font-size: 40px;
}

.table-header-text {
  font-size: 25px;
  padding-top: 10px;
  width: 70%;
  text-align: center;
}

.table-main {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-main-list {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightyellow;
  margin: 10px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.table-main-item {
  padding-bottom: 10px;
}

.table-main-text {
  color: darkslategray;
}

.table-main-button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid black;
}

.table-list {
  height: 300px;
  background-color: darkslategray;
}

.table-text {
  color: wheat;
}

.table-btn {
  color: white;
  border: 1px solid white;
  background-color: black;
}

.table-main-button:hover {
  background-color: darkred;
  color: white;
}

.table-main-text:hover {
  color: darkslateblue;
  text-decoration: underline;
}

.table-text:hover {
  color: black;
}

.footer {
  background-color: lightyellow;
  padding-top: 60px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid lightgray;
  width: 70%;
  padding: 10px;
  background-color: lightseagreen;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-item {
  padding: 5px;
}

.footer-link {
  color: darkred;
}

@media (max-width: 1160px) {
  .container {
    width: 1000px;
  }
  .list-1 {
    display: none;
  }
  .left-img {
    width: 500px;
  }
}

@media (max-width: 1020px) {
  .container {
    width: 900px;
  }
  .char-text {
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 80%;
    padding-left: 100px;
  }
  .chart-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left-img {
    width: 350px;
  }
}

@media (max-width: 920px) {
  .container {
    width: 800px;
  }
  .main {
    background-image: url(./images/cover.png);
    background-repeat: no-repeat;
    background-size: 11 0%;
  }
  .right-title {
    font-size: 35px;
  }
  .main-leg-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-footer-title {
    font-size: 20px;
    width: 130%;
  }
  .char-subtitle {
    font-size: 20px;
  }
  .text {
    font-size: 16px;
  }
  .char-image {
    width: 200px;
  }
}

@media (max-width: 820px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 620px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */